{% extends "base.html.twig" %} 


{% block header %}
    <h2> Voici le header </h2>
{% endblock %}

{% block title %}
   Bienvenue sur le meilleur reseau d'appartements
{% endblock %}
    
{% block body  %}
        
    <div class="container">

        <div class="jumbotron mt-3">
            <div class="display-3">Bienvenue sur SymBNB</div>
            <p class="lead">
                nous  mettons en relation les voyageurs et les propietaires qui veulent profiter d'opprtunites et gagner de l'argent et prposant leur bien à la location 
                </p>
                
                <hr class="my-4">
                
                <p>Vous etes voyageur ? et vous voulez voir ou vous pourrez loger pour votre prochain deplacement ?</p>
                
                <p class="lead">
                    <a class="btn btn-primary btn-lg" href="#" role="button" >  Voir nos annonces </a>
                    </p>    
          </div>

          <h2 class="h1 mt-3 mb-4"> Nos appartemants stars   </h2>


          <div class="row mt-5 ">
              
                <div class="col-md-4">
                    <div class="card bg-light mb-3">
                        <div class="card-header text-cente">
                               3 chambres,<strong>49&euro; / nuit </strong>
                               <smal>Pas encore note</smal>
                        </div> 
                        <img src="https://via.placeholder.com/1000x400.png" alt="Image de l'appartement" style="height:200px ; width:100% ; display:block">

                        <div class="card-body">
                            <h4 class="card-title">
                                Appartement de ouf!
                            </h4>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum voluptatem quidem laborum sequi error qui id quis quasi ullam mollitia eveniet repellendus voluptates pariatur illo, tempore harum, at assumenda accusamus.
                            </p>
                            <a href="#" class="btn btn-secondary"> En savoir plus  </a>
                        </div>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card bg-light mb-3">
                        <div class="card-header text-cente">
                               3 chambres,<strong>49&euro; / nuit </strong>
                               <smal>Pas encore note</smal>
                        </div> 
                        <img src="https://via.placeholder.com/1000x400.png" alt="Image de l'appartement" style="height:200px ; width:100% ; display:block">

                        <div class="card-body">
                            <h4 class="card-title">
                                Appartement de ouf!
                            </h4>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum voluptatem quidem laborum sequi error qui id quis quasi ullam mollitia eveniet repellendus voluptates pariatur illo, tempore harum, at assumenda accusamus.
                            </p>

                            <a href="#" class="btn btn-secondary"> En savoir plus  </a>

                        </div>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card bg-light mb-3">
                        <div class="card-header text-cente">
                               3 chambres,<strong>49&euro; / nuit </strong>
                               <smal>Pas encore note</smal>
                        </div> 
                        <img src="https://via.placeholder.com/1000x400.png" alt="Image de l'appartement" style="height:200px ; width:100% ; display:block">

                        <div class="card-body">
                            <h4 class="card-htitle">
                                Appartement de ouf!
                            </h4>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum voluptatem quidem laborum sequi error qui id quis quasi ullam mollitia eveniet repellendus voluptates pariatur illo, tempore harum, at assumenda accusamus.
                            </p>

                            <a href="#" class="btn btn-secondary"> En savoir plus  </a>

                        </div>

                    </div>
                </div>
                

          </div>

          <h2 class="h1 mt-3 mb-4"> Nos appartemants stars   </h2>
       
         <div class="row">
            <div class="col">
                 <div class="card border-secondary mb-3">   
                      <div class="card-body">
                          <hr>
                          <div class="card-text">
                             <img src="https://via.placeholder.com/64x64.png" alt="Avatar de Lior CHamla " class="float-left mr-3">
                              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet optio dignissimos maxime quisquam, tempore illum excepturi quas voluptatum molestias rerum earum dolorem assumenda, voluptates, est iure eum ducimus ratione quidem!  </p>
                              <a href="#" class="btn btn-success float-right">En savoir plus!</a>
                          </div>
                      </div>
                </div>
            </div>
         </div>
      


       </div>


 {% endblock %}
